/* footer {
    position: relative;
	/* display:table-cell;
    /* background-color: #000;
    /* height: 4em;
    /* margin-top: -4em; Höhe des Footers 
    width: 100%;
} */

footer {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	width:100vw;
	height:5em;
	background-color: #000000;
	text-align:center;
}

footer .footer-main {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    width: 63%; 
}

footer p {
    color: #fff;
}

footer li {
    float: left;
    margin: 1em;
}

footer a {
    color: white;
    text-decoration: none;
}