label.require:before {
    content: "*" " ";
    color: red;
}

.form {
    margin: 2em 0;
}

.form .form-left {
    float: left;
    width: 30%;
}

.form .form-right {
    float: right;
    width: 60%;
}

form h2 {
    margin: 10px 0;
    color: #ff4800;
}

form h3 {
    margin: 10px 0;
}

form label {
    font-size: 1em;
}

.form input, .form label {
    width: 100%;
    padding: 5px; 
}

button, .button {
    border: none;
    font-size: 1em;
    background: #d9e0cb;
    margin-top: 8px;
    width: 130px;
}

button {
    padding: 3px 10px;
}

.button {
    padding: 2px 10px;
    display: inline-block;
}

.form-right textarea {
    font-size: 1rem;
    width: 100%;
}

#profile-page .form h2 {
    color: #eb4d04;
}

/*/////////////// new project ///////////////////////// */

.new-project form {
    /* border: 1px solid gray; */
    padding: 20px;
    box-sizing: border-box;
}

.new-project form .textarea, .new-project form .file, .new-project form div:first-child {
    display: flex;
    flex-direction: column;
}

.new-project form textarea {
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.new-project form div {
    margin: 10px 0;
    /* border: 1px solid red; */
    background: #dad9d9;
    padding: 8px;
}

.new-project form div:first-child input {
    border: none;
    padding: 5px;
    margin: 10px 0;
    width: 98%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.new-project form small {
    padding: 5px;
}

.new-project form div:last-child {
    background: none;
}

.new-project button {
    width: 200px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}



/*////////////////////// BREAK MAX 640PX ///////////////////////*/

@media screen and (max-width: 640px) {

    #profile-page .form-left {
        float: none;
        width: 98%; /*auto???*/
    }

    #profile-page .form-right {
        float: none;
        width: auto;
    }

    #profile-page .form-left form:first-child  {
        float: left;
    }

    #profile-page .form-left form:last-child  {
        float: right;
    }

}





