
@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto-regular.eot") format("eot");
        src:local("roboto-regular"),
            url("../fonts/roboto-regular.woff") format("woff"),
            url("../fonts/roboto-regular.woff2") format("woff2"),
            url("../fonts/roboto-regular.eot") format("eot"),
            url("../fonts/roboto-regular.ttf2") format("TrueType"),
            url("../fonts/roboto-regular.svg") format("svg");
            font-weight: normal;
}

/* //////////////////////////////////////////// */

html {
    font-family: roboto-regular, sans-serif, arial;
}

* {
    margin: 0;
    padding: 0;
}

#wrapper {
	min-height: calc(100vh - 5em);
}

.login-pannel {
    padding: 2px;
    color: #808080;
    width: 94%;
    margin: 0 auto;
}



.login-pannel a {
    font-size: 1em;
    color: #808080;
    padding: 3px 6px;
}

.header-logo {
    position: relative;
    width: 80px;
    margin: -3.2em 0;
}

.header-logo img {
    width: 100%;
}

main, .wrapper {
    background: white;
    width: 94%;
    margin: 100px auto;
    /* max-width: 1800px;   */
}

main#start-page {
    margin: 100px auto;
    width: 100%;
    /* min-width: 1920px; */
}

#start-page .start-info {
    margin: 2em auto;
}

#start-page .start-info h1 {
    margin: 2em auto;
    text-align: center;
}

#start-page .start-info p {
    margin: 2em auto;
    text-align: center;
    text-align: justify;
}

.container-medium {
    width: 67.02%;
    margin: 0 auto;
    max-width: 1200px;
}

.container-medium  p:not(.short-info p) {
    text-align: justify;
}

#news-page h1, #news-page h2, #news-page p {
text-align: center;
}

#news-page h2 {
    margin: 50px auto;
    font-size: 2em;
}
#news-page p {
    font-size: 2em;
    color: rgb(197, 58, 3);
}
/*/////////////////// LINKS ////////////////////*/

a {
    color: black;
    text-decoration: none;  
}

a:hover {
    color: #676d4b;
}

a:active {
    color: red;
}

/*///////// PROFILE PAGE & PROJECT PAGE //////////*/

.profile-info {
    display: flex;
    align-items: end;
}

.profile-left {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 33%;
    text-align: right;
    padding: 0 24px 0 44px;
}

#project-page .profile-left {
    padding: 0 66px 0 0px;
}

.profile-right {
    width: 60%;
}

.profile-right p {
    text-align: justify;
}

.profile-left .short-info {
    float: none;
    width: 80%;
    margin-top: 16px;
}

.profil-img {
    position:relative;
    width: 70%;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.profil-img img {
    width: 100%;
}

.profil-img:before {
    content: "";
    display:block;
}

.main-img img, .project-images img {
    width: 100%; 
}

.main-img figure {
    margin: 42px 0;
}

.project-images figure {
    margin: 42px 0;
}

.main-img figcaption {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.profile-left a {
    color: #ff8300;
}

/*//////////////////// OVERVIEW-PAGE //////////////////////*/

.card .all-project-link {
    margin: 1em auto 1.8em;
}

.card h2, .all-project-link {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: 1em auto 1.8em;
}

.card-box h1 {
    text-align: center;
}

.card-box ul {
    text-align: center;
    margin: 1em 0 1.8em;
}

.card-box li {
    display: inline;
    padding: 5px 12px;
}

.card-box .card {
    width: 24.2%;
    float: left;
    margin-right: 1%;
}

.card-box .card:nth-child(4n+4) {
    margin-right: 0;
}

.card img {
    width: 100%;
}

.card figure {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card figure img {
    position: absolute; 
    top: 0; 
}

.project-card figure img {
    position: absolute; 
    top: 0;
    height: 100%;
    width: auto;
}

.card figure:before {
    content: "";
    display:block;
    padding-bottom: 56%;
}

.card figcaption {
    position: relative;
    background: #fff;
    text-align: center;
    padding: 5px 0;
}

.cards h1 {
    font-size: 1.5em;
}

.cards h2 {
    font-size: 1.2em;
    font-style: italic;
    color: #808080;
}

ul {
    
    list-style: none;
}

.wrapper li {
    border: 2px solid #bdbdbc;
    padding: 1em;
    margin-top: -2px;
}

/*//////////////////// ABOUT-PAGE //////////////////////*/
.about .main-img {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 50%;
}

.about .main-img img {
    position: absolute; 
    top: 0; 
}

.about p {
    margin: 16px 0;
}

.about iframe {
    margin-top: 3em;
    filter: grayscale(100%);
}

.about > div:last-child {
    margin-top: 1.5em;
    text-align: center;
    font-size: 1.2em;
}

/*///////// slider //////////*/

.slide-info p:first-child {
    float: left;
}

.slide-info p:last-child {
    float: right;
}

body .slider .inner {
    position: relative;
    white-space: nowrap;
    transition: all 1s ease;
}

.slider, .slider .inner img {
    width: 100%;
}
	 
.slider {
    overflow: hidden;
}

/*//////////////////// DATA PROTECTION /////////////////////*/

.policy h1, .policy h2 {
    margin: 1em 0;
}

.policy ul {
    list-style: circle;
    padding: 20px;
}

/*/////////// CLEARFIX /////////////*/

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.error {
    color: #ff0000;
}

/*////////////////////// BREAK MAX 1200PX ///////////////////////*/

@media screen and (max-width: 1200px) {

    .header-logo {
        margin: -3em 0;
    }

}

/*////////////////////// BREAK MAX 1024PX ///////////////////////*/

@media screen and (max-width: 1024px) {

    .header-logo {
        margin: -2.9em 0;
    }

}

/*////////////////////// BREAK MAX 860PX ///////////////////////*/

@media screen and (max-width: 1440px) {

/*///////// PROFIL & PROJECT  PAGE //////////*/

    .container-medium {
        width: 94%;
    }

}

@media screen and (max-width: 860px) {

/*///////// OVERVIEW PAGE //////////*/

    .card-box .card {
        width: 32.6%;
        float: left;
        margin-right: 1%;
    }

    .card-box .card:nth-child(4n+4) {
        margin-right: 1%;
    }

    .card-box .card:nth-child(3n+3) {
        margin-right: 0;
    }
}

/*////////////////////// BREAK MAX 640PX ///////////////////////*/

@media screen and (max-width: 640px) {

    #start-page .start-info {
        width: 94%;
    }

    .login-pannel {
        padding: 1em 3%;
        position: absolute;
        z-index: 3;
        right: 0;
    }

    .login-pannel a {
        color: #c5c5c5;
        font-size: 1em;
    }

    .header-logo {
        width: 100%;
        /* display: flex;
        justify-content: center; */
    }
    
    .header-logo img {
        width: 60px;
    }

    main {
        margin: 130px auto;
    }

    .container-medium {
        width: 100%;
    }

    /*///////// OVERVIEW PAGE //////////*/

    .card-box .card {
        width: 49%;
        float: left;
        margin-right: 1%;
    }

    .card-box .card:nth-child(2n+2) {
        margin-right: 0;
    }

    .card-box .card:nth-child(4n+4) {
        margin-right: 0;
    }
    .card-box .card:nth-child(3n+3) {
        margin-right: 1%;
    }

    /*///////// PROFILE PAGE & PROJECT PAGE //////////*/

    .container-medium .profile-info {
        width: 100%;
    }

    .container-medium .profile-left {
        float: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: left;
        }

    .profil-img {
        width: 340px;
        overflow: hidden;
        margin-left: 2em;
    }

    .profile-right {
        float: none;
        padding-top: 2em;
        width: 100%;
        margin: 0 auto;
    }

    .profile-right p {
        text-align: justify;
    }

    .profile-left .short-info {
        align-self: center;
        margin: 1em 2em;
        padding: 0;
    }

    .profile-left h1 {
        font-size: 1.2em;
    }

    .profile-left h2 {
        font-size: 1em;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
    }
}

/*////////////////////// BREAK MAX 480PX ///////////////////////*/

@media screen and (max-width: 480px) {

    /*///////// OVERVIEW PAGE //////////*/
    
        .card-box .card {
            width: 100%;
            float: left;
            margin-right: 0;
        }

        .card-box .card:nth-child(n) {
            margin-right: 0;
        }
}
