nav {
    background: #404040;
    padding: .8em 0;
    color: #fff;
    position: relative;
}

.nav-main {
    max-width: 1200px;
    width: 64%;
    margin: auto;
}

nav ul {
    float: right;
}

nav li {
    float: left;
    margin-left: .5em;
}

nav li:first-child {
    margin-left: 0;
}

nav a {
    color: #c5c5c5;
    display: block;
    font-size: 1.2em;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

nav a:hover,
nav a:focus {
    color: #fff;
}

.burger > input,
.burger > span {
    display: none;
}

.active {
    color: #ff0000;
}

/* /////// max 1200 //////////////////////////////////// */

@media screen and (max-width: 1200px) {
    .nav-main a {
        font-size: 1em;
    }
}

/* /////// max 1366 //////////////////////////////////// */

@media screen and (max-width: 1024px) {
    .nav-main a {
        font-size: .8em;
    }
}

/* /////// max 860 //////////////////////////////////// */

@media screen and (max-width: 860px) {
    .nav-main {
        margin: auto;
        width: 94%;
    }
}

/* /////// max 640 //////////////////////////////////// */

@media screen and (max-width: 640px) {

    .nav-main label {
        top: 60px;
        position: relative;
    }

    .nav-main input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        /* z-index: 2; */
        top: 60px;
    }

      .nav-main input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .nav-main ul {
        float: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 52px;
        width: 100%;
        background: rgb(64, 64, 64, 5);
        -webkit-transform: translate(-110%, 0);
        -ms-transform: translate(-110%, 0);
        transform: translate(-110%, 0);
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
        z-index: 1;
        border-top: 1px solid #fff;
        margin-left: -3%;
        opacity: .9;
    }

    .nav-main li {
        float: none;
        margin-left: 0;
        text-align: center;
    }

    /* ----------------- Burger Layout & Animation -----------------*/

    .nav-main input {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .nav-main input:checked ~ ul {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .burger input:checked ~ label > span {
        background: #c5c5c5;
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(-6px, -21px);
        -ms-transform: rotate(45deg) translate(-6px, -21px);
        transform: rotate(45deg) translate(-6px, -21px);
        z-index: 3;
    }

    .burger input:checked ~ label > span:nth-last-child(3) {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
        -ms-transform: rotate(0deg) scale(0.2, 0.2);
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    .burger input:checked ~ label > span:nth-last-child(2) {
        -webkit-transform: rotate(-45deg) translate(0, 14px);
        -ms-transform: rotate(-45deg) translate(0, 14px);
        transform: rotate(-45deg) translate(0, 14px);
    }

    .burger span {
        background: #c5c5c5;
        border-radius: 3px;
        display: block;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        -webkit-transform-origin: 2px 2px;
        -ms-transform-origin: 2px 2px;
        transform-origin: 2px 2px;       
        -webkit-transition: background 0.5s, opacity 0.55s ease, -webkit-transform 0.5s;       
        transition: background 0.5s, opacity 0.55s ease, -webkit-transform 0.5s;       
        -o-transition: transform 0.5s, background 0.5s, opacity 0.55s ease;       
        transition: transform 0.5s, background 0.5s, opacity 0.55s ease;       
        transition: transform 0.5s, background 0.5s, opacity 0.55s ease, -webkit-transform 0.5s;
        width: 33px;
        z-index: 1;
    }
}

.active {
    color: red;
}